<div class="container">
  <div class="conatiner">
    <h4>In average these technologies are in use in my projects</h4>

    <% @percent.each do |language, p| %>
      <h4><%= "#{language}: #{p} %" %></h4>
    <% end %>
  </div>
</div>
