<div class="container">
  <div class="conatiner">
    <h4>In average these technologies are in use in my projects (except WordPress):</h4>

    <% @percent.each do |language, p| %>
      <h4><%= "#{language unless language == 'WordPress'}" %>
          <%= ": #{p} %" unless language == 'WordPress' %>
    <% end %>
  </div>
</div>
