<div class="navbar container">
  <%= link_to "Projects", projects_path, class: "nav-item" %>
  <%= link_to "About", root_path, class: "nav-item" %>
  <%= link_to "Technologies", languages_path, class: "nav-item" %>
</div>

