<div class="navigation-content">
	<div class="navigation container">
		<div class="d-flex flex-column flex-sm-row justify-content-sm-between">
			<p><%= link_to "error", root_path, class: "nav-item" %></p>
			<p><%= link_to "projects", projects_path, class: "nav-item" %></p>
			<p><%= link_to "statistics", languages_path, class: "nav-item" %></p>
		</div>
	</div>
</div>
