<div class="container">
  <%= link_to @contributer.github do %>
    <i class="fab fa-github"></i>
  <% end %>
  <%= "#{@contributer.name} worked on" %>
  <%= @contributer_projects.to_sentence %>
  with me.
</div>
