.main-content {
  overflow: auto;
  height: 100vh;
}


.navigation-content {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  -webkit-animation: rainbow 45s infinite alternate;
  animation: rainbow 45s infinite alternate;
}

@-webkit-keyframes rainbow
{
    0%    {  background-color: $pink; }
    12.5% {  background-color: $baby-blue; }
    25%   {  background-color: $brown; }
    37.5% {  background-color: $red; }
    50%   {  background-color: $orange; }
    62.5% {  background-color: $yellow; }
    75%   {  background-color: $green; }
    87.5% {  background-color: $blue; }
    100%  {  background-color: $purple; }
}




a.nav-item {

	font-size: 18vw;
	font-family: serif;
	font-style: italic;
}

.navigation.container {
	max-width: 1249px !important;
}

.navigation-content {
		margin-bottom: 24px;
	}

@media (min-width: 768px) {
	a.nav-item {
		font-size: 7vw;
}
	.navigation-content {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  -webkit-animation: rainbow 45s infinite alternate;
  animation: rainbow 45s infinite alternate;
}

@-webkit-keyframes rainbow
{
    0%    {  background-color: $pink; }
    12.5% {  background-color: $baby-blue; }
    25%   {  background-color: $brown; }
    37.5% {  background-color: $red; }
    50%   {  background-color: $orange; }
    62.5% {  background-color: $yellow; }
    75%   {  background-color: $green; }
    87.5% {  background-color: $blue; }
    100%  {  background-color: $purple; }
}
}

@media (max-width: 667px) and (orientation: landscape) {
	a.nav-item {
		font-size: 3vw;
	}

	.navigation-content {
		margin-bottom: 24px;
	}
}
