.main-content {
  overflow: auto;
  height: 100vh;
}


.navigation-content {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  background-color: $lime;
}

a.nav-item {

	font-size: 18vw;
	font-family: serif;
	font-style: italic;
}

.navigation.container {
	max-width: 1249px !important;
}

@media (min-width: 768px) { 
	a.nav-item {
		font-size: 7vw;
}
	.navigation-content {
		width: 100vw;
		height: 15%;
		background-color: $lime;
	}


}