<div class="container">
  <h4>Hi, I am Magda 👋</h4>
  <h4>I am a Web Developer with a focus on the Back-End-Side of Ruby on Rails.
  Initially I studied Art and Communication Studies in Vienna. In my freetime I also develop websites
  for Artist / Musicians / Curators in Wordpress.</h4>
</div>
