<ul class="cb-slideshow">
  <li>
    <span>Image 01</span>
  </li>
  <li>
    <span>Image 02</span>
  </li>
  <li>
    <span>Image 03</span>
  </li>
   <li>
    <span>Image 04</span>
  </li>
   <li>
    <span>Image 05</span>
  </li>
</ul>
<div class="landingpage-text">
  <h1>
  </h1>
      <a href= "mailto:contact@error.supply">contact@error.supply</a>
  </h1>
</div>
